# Caché de Python
**/__pycache__/
*.pyc

# Base de datos local de Django
db.sqlite3

# Entorno virtual (por si acaso no lo tenías guardado)
venv/
.venv/
env/
# Ignorar configuraciones de editores de código
.vscode/
.idea/